#inredning-wrapper{
display: grid;
height: 91.8vh;
width: 97vw;
gap: 10px;
grid-template-columns: 15% 15% 15% 55%;
grid-template-rows:10% 25% 30% 25% 10% ;
grid-template-areas: 
"hd hd hd hd"
"rb rb rb imgst"
"it1 it1 it1 imgst"
"li it2 it2 imgst"
"ft ft ft ftF"
;
}


#start-wrapper{
display: grid;
height: 91.8vh;
width: 97vw;
gap: 10px;
grid-template-columns: 15% 15% 15% 55%;
grid-template-rows:10% 25% 30% 25% 10% ;
grid-template-areas: 
"hd hd hd hd"
"rb rb rb st1"
"st2 st2 st2 imgst"
"imgin imgin imgin st3"
"ft ft ft ftF"
;

}

#OmOss-wrapper1{
display: grid;
height: 91.8vh;
width: 97vw;
gap: 10px;
grid-template-columns: 15% 15% 15% 55%;
grid-template-rows:10% 25% 30% 25% 10% ;
grid-template-areas: 
"hd hd hd hd"
". . . ."
". . . ."
". . . ."
"ft ft ft ftF"
;

    
}

#OmOss-wrapper2{
    display: grid;
    height: 91.8vh;
    width: 97vw;
    gap: 30px;
    
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 40% 40%;
    justify-items: center;
  
    grid-template-areas: 
  
    "omt1 omt2 omt3"
    "omt4 omt5 omt6"
    ;
   position: absolute;     
  
}

#OmOss1, #OmOss2, #OmOss3, #OmOss4, #OmOss5, #OmOss6 {

    background-color: aliceblue;
    border-radius: 15px;
    border: 1px solid black;
    width: 200px;
    justify-items: center;
    height: 200px;
    margin-top: 63px;

}

#bild1, #bild2, #bild3, #bild4, #bild5, #bild6{
    border-radius: 50%;
    width:70px;
    height:70px;
    margin-top: 20px;

}

#OmOss1{
grid-area: omt1;

}

#OmOss2{
grid-area: omt2;}

#OmOss3{
grid-area: omt3;}

#OmOss4{
grid-area: omt4;}

#OmOss5{
grid-area: omt5;}

#OmOss6{
grid-area: omt6;}



.header{
grid-area: hd;
background-color: #3498db;
margin-left: -10px;
}

.rubrik{
grid-area: rb;
background-color: aliceblue;
display: flex;
align-items: center;
justify-content: center;
font-family: ;
color: #3498db;
font-size: 30px;
border-radius: 15px;
}

#inredningtext1{
    grid-area: it1;
    background-color: aliceblue;
    border-radius: 15px;
    
}
#inredningtext2{
    grid-area: it2;
    background-color: aliceblue;
    border-radius: 15px;

}

#starttext1{
grid-area: st1;
background-color: aliceblue;
border-radius: 15px;
}
#starttext2{
grid-area: st2;  
background-color: aliceblue;
border-radius: 15px;
}
#starttext3{
grid-area: st3;  
background-color: aliceblue;
border-radius: 15px;
}





#imgstart{
grid-area: imgst;
display: flex;
height: 100%;
width: 100%;
border-radius: 10px;
}

#imginredning{
grid-area: imgin;
display:flex;
height: 100%;
width: 100%;
border-radius: 10px;
}


#list{
grid-area: li;
background-color: aliceblue;
border-radius: 15px;

}
#footer{
    grid-area: ft;
    background-color:#3498db;
    display: flex;
    justify-content:space-around;
    text-decoration: none;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;


}



#footer a{
    text-decoration: none;
    text-align: center;
    align-content: center;
    flex:auto;
    height: 100%;
    color: black;
}

#footer a:hover{
    background-color: #3474db;
}

#footer a:active{
    background-color: #316bc8;
    color:rgb(52, 52, 52);

}

#FooterFiller{
 grid-area: ftF;

 background-color:#3498db;

}




